html,
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    /*    color: indigo;*/
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio,
.skill,
.history,
.news {
    padding: 50px 0;
}

.portfolio-item,
.skill-item,
.history-item,
.news-item {
    margin-bottom: 30px;
    transition: all 2s;
}

.portfolio-item:hover,
.skill-item:hover,
.history-item:hover,
.news-item:hover {
    transform: rotateY(720deg);
}

.img-portfolio,
.img-skill,
.img-history,
.img-news {
    margin: 0 auto;
}

.img-portfolio:hover,
.img-skill:hover,
.img-history:hover,
.img-news:hover {
    opacity: 0.8;
}




/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}

.list-ul {
    padding: 0;
    position: relative;
}

.list-li {
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;
    /*左側の線*/
    background: #f1f8ff;
    /*背景色*/
    margin-bottom: 3px;
    /*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.8em;
    list-style-type: none!important;
    /*ポチ消す*/
    transition: all .15s;
}

.list-li:hover {
    transform: skewX(-25deg);
}

h4 {
    margin: 4vh 0;
}

.tag-ul {
    list-style: none;
    background: #f1f8ff;
    box-shadow: 0px 0px 0px 10px #f1f8ff;
    /*線の外側*/
    border: dashed 2px #668ad8;
    /*破線*/
    border-radius: 9px;
    margin-left: 10px;
    /*はみ出ないように調整*/
    margin-right: 10px;
    /*はみ出ないように調整*/
    padding: 0.5em 0.5em 0.5em 2em;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.tag-li {
    line-height: 1.5;
    padding: 0.5em 0;
}



.mix {
    transform: translate(10px) rotate(360deg) scale(1, 1);
    /*    opacity: 0.3;*/
}



:focus {
    outline: none;
}

/*
.fa {
    animation: rotateOut 5s infinite;
}
*/

i.fa:hover {
    animation: rotateOutUpLeft 1s;

}

span.fa-stack:hover {
    animation: rotateOutDownRight 3s;
}

h4 {
    animation: bounceIn 5s infinite;
}

p {
    animation: bounceInOut 5s infinite;
}

p:hover {
    animation: shake 4s;
}

h2:hover {
    animation: fadeOutRightBig 4s;
}

/*
li.list-li {
    animation: zoomInUp 20s;
}
*/

/*
h1:hover,
.navbar-brand:hover {
    animation: hinge 3s infinite;
}
*/

/*
section {
    animation: zoomInUp 7s;
}
*/

@gps-burg:           rgba(182, 15, 97, 0.9);
@gps-orange:         rgba(242, 112, 45, 0.9);
@gps-skyblue:        rgba(45, 181, 167, 0.9);
@gps-purple:         rgba(190, 61, 244, 0.9);
@gps-green:          rgba(180, 224, 67, 0.9);
@gps-yellow:         rgba(242, 194, 58, 0.9);



.balloon {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
    font-family: 'Wendy One', sans-serif;
}
.balloon > div {
   width:104px;
  height:140px;
  background: @gps-burg;
  border-radius:0;
  border-radius:80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding:10px;
  box-shadow:inset 17px 7px 10px @gps-burg;
  -webkit-transform-origin: bottom center;
}
.balloon > div:nth-child(1){
  background: @gps-burg;
  left: 0;
  box-shadow:inset 10px 10px 10px darken(@gps-burg, 10%);
  -webkit-animation:balloon1 6s ease-in-out infinite;
  -moz-animation:balloon1 6s ease-in-out infinite;
  -o-animation:balloon1 6s ease-in-out infinite;
  animation:balloon1 6s ease-in-out infinite;
  &:before {
   color: @gps-burg ;
  }

}
.balloon > div:nth-child(2){
  background: @gps-orange;
  left: 120px;
  box-shadow:inset 10px 10px 10px darken(@gps-orange, 10%);
   -webkit-animation:balloon2 6s ease-in-out infinite;
  -moz-animation:balloon2 6s ease-in-out infinite;
  -o-animation:balloon2 6s ease-in-out infinite;
  animation:balloon2 6s ease-in-out infinite;
  &:before {
   color: @gps-orange ;
  }

}
.balloon > div:nth-child(3){
  background: @gps-skyblue;
  left: 240px;
  box-shadow:inset 10px 10px 10px darken(@gps-skyblue, 10%);
   -webkit-animation:balloon4 6s ease-in-out infinite;
  -moz-animation:balloon4 6s ease-in-out infinite;
  -o-animation:balloon4 6s ease-in-out infinite;
  animation:balloon4 6s ease-in-out infinite;
  &:before {
   color: @gps-skyblue ;
  }

}
.balloon > div:nth-child(4){
  background: @gps-purple;
  left: 360px;
  box-shadow:inset 10px 10px 10px darken(@gps-purple, 10%);
   -webkit-animation:balloon1 5s ease-in-out infinite;
  -moz-animation:balloon1 5s ease-in-out infinite;
  -o-animation:balloon1 5s ease-in-out infinite;
  animation:balloon1 5s ease-in-out infinite;
  &:before {
   color: @gps-purple ;
  }

}
.balloon > div:nth-child(5){
  background: @gps-green;
  left: 480px;
  box-shadow:inset 10px 10px 10px darken(@gps-green, 10%);
   -webkit-animation:balloon3 5s ease-in-out infinite;
  -moz-animation:balloon3 5s ease-in-out infinite;
  -o-animation:balloon3 5s ease-in-out infinite;
  animation:balloon3 5s ease-in-out infinite;
  &:before {
   color: @gps-green ;
  }

}
.balloon > div:nth-child(6){
  background: @gps-yellow;
  left: 600px;
  box-shadow:inset 10px 10px 10px darken(@gps-yellow, 10%);
  -webkit-animation:balloon2 3s ease-in-out infinite;
  -moz-animation:balloon2 3s ease-in-out infinite;
  -o-animation:balloon2 3s ease-in-out infinite;
  animation:balloon2 3s ease-in-out infinite;
  &:before {
   color: @gps-yellow ;
  }

}
.balloon > div:before {
  color:@gps-burg;
  position:absolute;
  bottom:-11px;
  left: 2px;
  content:"▲";
  font-size:1em;
}

.balloon span {
  font-size: 3.8em;
  color: white;
  position: relative;
  top: 30px;
  left: 50%;
  margin-left: -27px;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-6deg);}
  50%{ -webkit-transform:translateY(-20px) rotate(8deg); }
}
@-moz-keyframes balloon1 {
  0%,100%{ -moz-transform:translateY(0) rotate(-6deg);}
  50%{ -moz-transform:translateY(-20px) rotate(8deg); }
}
@-o-keyframes balloon1 {
  0%,100%{ -o-transform:translateY(0) rotate(-6deg);}
  50%{ -o-transform:translateY(-20px) rotate(8deg); }
}
@keyframes balloon1 {
  0%,100%{ transform:translateY(0) rotate(-6deg);}
  50%{ transform:translateY(-20px) rotate(8deg); }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
  0%,100%{ -webkit-transform:translateY(0) rotate(6eg);}
  50%{ -webkit-transform:translateY(-30px) rotate(-8deg); }
}
@-moz-keyframes balloon2 {
  0%,100%{ -moz-transform:translateY(0) rotate(6deg);}
  50%{ -moz-transform:translateY(-30px) rotate(-8deg); }
}
@-o-keyframes balloon2 {
  0%,100%{ -o-transform:translateY(0) rotate(6deg);}
  50%{ -o-transform:translateY(-30px) rotate(-8deg); }
}
@keyframes balloon2 {
  0%,100%{ transform:translateY(0) rotate(6deg);}
  50%{ transform:translateY(-30px) rotate(-8deg); }
}


/* BAllOON 0*/
@-webkit-keyframes balloon3 {
  0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
  50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-moz-keyframes balloon3 {
 0%,100%{ -moz-transform:translate(0, -10px) rotate(6eg);}
  50%{ -moz-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-o-keyframes balloon3 {
 0%,100%{ -o-transform:translate(0, -10px) rotate(6eg);}
  50%{ -o-transform:translate(-20px, 30px) rotate(-8deg); }
}
@keyframes balloon3 {
 0%,100%{ transform:translate(0, -10px) rotate(6eg);}
  50%{ transform:translate(-20px, 30px) rotate(-8deg); }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {
  0%,100%{ -webkit-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -webkit-transform:translate(-15px, 20px) rotate(10deg); }
}
@-moz-keyframes balloon4 {
  0%,100%{ -moz-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -moz-transform:translate(-15px, 10px) rotate(10deg); }
}
@-o-keyframes balloon4 {
  0%,100%{ -o-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -o-transform:translate(-15px, 10px) rotate(10deg); }
}
@keyframes balloon4 {
  0%,100%{ transform:translate(10px, -10px) rotate(-8eg);}
  50%{ transform:translate(-15px, 10px) rotate(10deg); }
}
