<header>
<div class="header">
    <div class="header__title">
        <p class="header__text">
        YOSHIHISA KAINO
        </p>
    </div>
    <div class="header__sns">
        <div class="header__sns-icon header__sns-icon1">
          <a href="https://github.com/yoshi1125hisa">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          <!-- <i class="fab fa-github"></i> -->
          </a>
        </div>
        <div class="header__sns-icon header__sns-icon2">
          <a href="https://facebook.com/yoshi1125hisa">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            <!-- <i class="fab fa-facebook"></i> -->
          </a>
        </div>
        <div class="header__sns-icon header__sns-icon3">
          <a href="https://twitter.com/yoshi1125hisa">
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            <!-- <i class="fab fa-twitter"></i> -->
          </a>
        </div>    
    </div>
</div>

<div class="top-menu">
    <ul class="top-menu__list">
        <li class="top-menu__list-content"><a href="">About</a></li>
        <li class="top-menu__list-content"><a href="">Works</a></li>
        <li class="top-menu__list-content"><a href="">Study</a></li>
        <li class="top-menu__list-content"><a href="">Dream</a></li>
        <li class="top-menu__list-content"><a href="">Contact</a></li>
    </ul>
</div>
</header>