body {
    min-width: 1024px;
    width: inherit;
}

* {
    margin: 0;
    padding: 0;

}

@font-face {
    src: url('font/GOTHIC.TTF');
    src: url('Antro_Vectra.otf');
}

header {
    background-color: #f2f2f0;

    background-image: url(img/myPhoto.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*  height: 800px;*/
}

.bar {
    text-align: center;
    overflow: hidden;
}

.bar img {
    width: 155px;
    float: left;
}

nav {
    width: 73%;
    float: left;
}

nav ul {
    margin-top: 25px;
}

nav li {
    display: inline-block;
    border-bottom: none;
    margin: 0px 40px;
    text-align: center;
    letter-spacing: normal;
}

nav a {
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: #3E3C89;
    font-size: 18px;
    font-family: "Century Gothic";
    font-style: italic;
    letter-spacing: 2px;
}

.circleBehind a:before,
.circleBehind a:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}


.circleBehind .tab2:before,
.circleBehind .tab2:after,
.circleBehind .tab4:before,
.circleBehind .tab4:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid blue;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}


.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
}

.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.sub_logo {
    width: 424px;
    margin: 0 auto;
    padding-top: 250px;
}

header p {
    text-align: center;
    color: #F2F2F0;
    padding-top: 170px;
    letter-spacing: 6px;
    font-family: "Century Gothic";
    font-style: italic;
    overflow: hidden;
}

section h1 {
    text-align: center;
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 7px;
    color: #f2f2f0;
    font-size: 34px;
    padding-top: 42px;
}

.product {
    text-decoration: none;
    text-align: center;
    color: white;



}

.inc {
    text-align: center;
    color: white;
    font-size: 6px;
}

.inc-tech {
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 5px;
}

.pupre {
    color: #3e3c89;
}

h2 {
    width: 200px;
    margin: -23px auto;
}

#about {
    background-image: url(img/about.png);
    background-size: cover;
    background-position: top center;
    height: 900px;
}

.center {
    width: 820px;
    margin: 100px auto 0;
}

.introduce {
    color: #F2F2F0;
    width: 200px;
    margin: -200px auto 0;
}

.name {
    font-size: 34px;
    letter-spacing: 10px;
    font-weight: bold;
    font-style: italic;
}

.introduce p {
    width: 500px;
    font-family: "YuGothic";
    line-height: 27px;
    margin-bottom: 10px;
    text-shadow: 2px 1px 3px #333333;
}

.btn {
    margin-top: 70px;
    text-align: center;
    letter-spacing: 3px;
}

.btn a {
    font-family: "century gothic";
    border-radius: 30px;
    text-decoration: none;
    padding: 20px 70px;
    letter-spacing: 7px;
    font-weight: bold;
    color: #FFF;
    box-shadow: 4px 3px 21px 0px #333333;
    background-image: -webkit-linear-gradient(45deg, #b664eb 0%, #3e3c89 100%);
    background-image: linear-gradient(45deg, #b664eb 0%, #3e3c89 100%);
    transition: 0.8s;
}

.btn a:hover {
    background-image: -webkit-linear-gradient(45deg, #F2F2F0 0%, #F2F2F0 100%);
    background-image: linear-gradient(45deg, #F2F2F0 0%, #F2F2F0 100%);
    color: #3e3c89;
}

#skill {
    background-image: url(img/skill.png);
    background-size: cover;
    background-position: top center;
    height: 900px;
}

.wrapper {
    width: 760px;
    margin: 130px auto;
    overflow: hidden;
}

.icon {
    width: 220px;
    float: left;
    margin-right: 50px;
}

.icon img {
    width: 130px;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.icon h3 {
    text-align: center;
    margin-top: 10px;
    color: #f26295;
    font-style: italic;
}

.icon h4 {
    text-align: center;
    margin-top: 15px;
    color: #3e3c89;
    font-size: 14px;

    /*   display: inline-block;

    text-align: left;*/
}

.center-left {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

}


.icon p {
    font-size: 14px;
    line-height: 1.7;
    color: #3E3C89;
    font-family: "YuGothic";
    margin-top: 5px;
}

#work {
    background-image: url(img/work.png);
    background-size: cover;
    background-position: top center;
    height: 900px;
}

.project {
    float: left;
    margin-right: 35px;
    margin-top: 30px;
}



.last {
    margin-right: 0;
}

.project img {
    width: 230px;
}

#vision {
    background-image: url(img/vision.png);
    background-size: cover;
    background-position: top center;
    height: 900px;
}

.vision_img {
    width: 0px;
    margin: 100px auto 0;
}

.text {
    width: 750px;
    margin: -140px auto 0;
    color: #3E3C89;
    font-family: "YuGothic";
}

.text strong {
    font-size: 24px;
    font-style: italic;
}

.text p {
    width: 550px;
    font-family: "YuGothic";
    text-shadow: 2px 1px 3px #ffffff;
    line-height: 27px;

}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #3E3C8C;
    height: 170px;
}

footer .link {
    padding: 80px 0 30px;
    overflow: hidden;
    text-decoration: none;

}

footer a {
    margin: 10px;
    padding: 100px 0;
    color: #f26295;
    font-family: "YuGothic";
    text-decoration: none;
}

a {
    text-decoration: none;
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}


.page-top {
    margin: 0;
    padding: 0;
}

.page-top p {
    margin: 0;
    padding: 0;

    position: fixed;
    right: 16px;
    bottom: 16px;


}

.move-page-top {
    display: block;
    background: #f26295;
    width: 50px;
    height: 50px;

    color: #3e3c89;
    line-height: 50px;
    text-decoration: none;
    text-align: center;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.move-page-top:hover {
    opacity: 0.85;
}

.tab1 {
    color: white;
}

.tab2 {
    color: blue;
}

.tab3 {
    color: white;
}

.tab4 {
    color: blue;
}
