
.top-box {
    margin-top: 130px;
    &__img {
        height: 560px;
        width: 100%
    }
}
.top-box {
    margin-top: 130px;
    &__img {
        height: 560px;
        width: 100%
    }
}
.about-me {
    line-height: 25px;
    letter-spacing: 5.54px;
    font-family: 'Hiragino Sans';
    font-size: 15px;
    font-weight: 200;
}
