body {
    background-color: #e0e0e0;
}

p {
    color: #808080;
}

h1 {
    font-size: 2.5em;
    font-family: "Lucida Grande", sans-serif;
    text-align: center;
    color: #666;
    text-shadow: #fff 0px 2px 4px;
}

div {
    display: block;
}

img.profile {
    display: inline;
    margin: 20px 0px 0px 0px;
    width: 50px;
    height: 50px;
}

ul.icons {
    margin: 8px auto;
    height: 54px;
    padding: 0px;
}

li.icon {
    display: inline-block;
}

li.icon > img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

div.terminal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.title-bar {
    display: block;
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

.text-body {
    height: 78vh;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1em;
    line-height: 1.30em;
    font-weight: 400;
    text-align: left;
    overflow: scroll;
    transition: all 1.0s ease-out;
    margin: 0px;
    border-radius: 0 0 10px 10px / 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px / 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px / 0 0 10px 10px;
}

.element {
    /*text-align: center;*/
    /*font-size: 22px;*/
    font-family: "Consolas", "Courier New", "Courier";
    display: inline;
}

.prefix {
    display: none;
}

.typed-cursor {
    font-size: 1.0em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@media screen and (max-width:621px) {
    li.icon > img {
        width: 12vw;
        height: 12vw;
    }
    .text-body {
        font-size: 0.8em;
    }
}


.highlight {
    color: yellow;
}


.login {
    color: gray;
}

.tilde {
    color: hotpink;
}
