* {
    font-family: 'LucidaGrande';
}

.white-text{
    color: white;
}

* a{
    color: inherit;
    text-decoration: none;
}

html,
body {
    width: 100%;
    background-color: #fff;
}

@media screen and (min-width: 580px) {
    .br-sp {
        display: none;
    }
}


.header {
    margin: 5% 8%;
    height: 33px;
    width: 84%;
    display: flex;
}
.header__title {

}
.header__text {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.3px;
    color: #000000;
}
.header {
    display: flex;
}
.header__sns{
    display: flex;
    margin-left: 55%;
}
.header__sns-icon{
    font-size: 33px;
    margin: 0 40px 0 0;
    color: conic-gradient(rgba(228, 205, 111, 0.88) 19%, #22b5ff 80%, rgba(228, 205, 111, 0.88) 19%);
}
.header__sns-icon1{
    color: #000;
}

.header__sns-icon2{
    color: #0e0e85;
}
.header__sns-icon3{
    color: #8282ff;
    margin-right: 0;
}

.top-menu{
    width: 80%;
    margin: 5% 10% 5% 10%;
}

.top-menu__list{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.top-menu__list-content{
    width: 70px;
    height: 21px;
    font-family: LucidaGrande;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.3px;
    text-align: center;
    color: #000000;
    margin: 0 7%;
}

.top-box{

}

.top-box__img {
    height: 560px;
    width: 100%
}
.section {
    margin-top: 130px;
}

#main-content {
    width: 80%;
    margin: 0 10%;
}

.about-img{
    width: 88%;

}

.english-name{
    position: absolute;
    right: 24.5%;
    margin-top: 28px;
    font-size: 20px;
    letter-spacing: 3.14px;
}
.japanese-name{
    position: absolute;
    right: 23.5%;
    margin-top: 59px;
    font-size: 55px;
    letter-spacing: 4.27px;
}

.about-me{
    font-size: 20px;
    position: absolute;
    right: 80px;
    margin-top: 260px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 3.07px;
}

.about-me__description{
    line-height: 25px;
    letter-spacing: 5.54px;
    font-family: 'Hiragino Sans';
    font-size: 15px;
    font-weight: 200;
}
